@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  overflow-x: hidden;
  /* overflow: hidden; */
  height: fit-content;
  font-family: 'Source Sans 3', 'boxicons', sans-serif;
}

.font-weight-600 {
  font-weight: 600;
}

.mx-7 {
  margin: 0 7rem;
}

.icon-with-text-card {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-pink-color {
  color: rgba(200, 59, 147, 1);
}



.Ellipse1 {
  position: relative;
  width: 421px;
  height: 421px;
  left: 790px;
  top: 290px;
  background: #20F0BC;
  filter: blur(184.5px);
}

.Ellipse2 {
  position: absolute;
  width: 297px;
  height: 297px;
  left: 1124px;
  top: 46px;
  background: #D03491;
  filter: blur(102px);
}

.lynk {
  /* font-family: 'Source Sans 3'; */
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-align: center;

  color: #FFFFFF;
}



.camp {
  position: absolute;
  width: 104px;
  height: 21px;
  left: 1266px;
  top: 16px;


  /* font-family: 'Source Sans 3'; */
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  /* text-align: center; */
  color: #FFFFFF;
}

.opop {
  /* box-sizing: border-box; */
  /* position: absolute; */
  width: 609px;
  height: 604px;
  /* left: 766px; */
  top: 101px;
  background: rgba(255, 255, 255, 0.34);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(11.5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 9px;
}

.loplop {
  box-sizing: border-box;
  position: relative;
  width: 609px;
  height: 604px;
  /* left: 766px; */
  /* top: 101px; */
  background: rgba(255, 255, 255, 0.34);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(11.5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 9px;
}






.pipi {
  position: absolute;
  width: 136px;
  height: 105px;
  left: 346px;
  top: 60px;

}



.heading {
  /* position: absolute; */
  /* width: 555px; */
  /* height: 65px; */
  /* left: 156px; */
  /* top: 189px; */

  /* font-family: 'Source Sans 3'; */
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 61px;
  /* text-align: center; */

  color: #FFFFFF;
}


.batton {
  position: relative;
  width: 122px;
  height: 47px;
  color: #FFFFFF;
  border: none;
  /* left: -105px; */
  /* top: 20px; */
  transition: ease-in-out 1s;
  background: linear-gradient(99.05deg, #20F0BC 1.89%, #D23291 84.67%);
  box-shadow: 0px 1px 21px rgba(32, 240, 188, 0.41);
  border-radius: 10px
}

.batton2 {
  position: relative;
  width: 122px;
  height: 47px;
  color: #FFFFFF;
  transition: ease-in-out 0.8s;
  border: 0.1px solid aqua;

  /* left: 30px; */
  /* top: 20px; */
  background-color: #232222f3;
  /* background: linear-gradient(99.05deg, #20F0BC 1.89%, #D23291 84.67%); */
  /* box-shadow: 0px 1px 21px rgba(32, 240, 188, 0.41); */
  border-radius: 10px
}

.batton2:hover {
  transition: ease-in-out all 12ms;
  /* background: linear-gradient(99.05deg, #D23291 1.89%, #20F0BC 84.67%); */
  box-shadow: 0px 1px 21px rgba(32, 240, 188, 0.6);
  border: 1px solid aqua;
  border-radius: 25px;
  transition: ease-in-out 0.4s;
}

.activeButton {
  position: relative;
  width: 122px;
  height: 47px;
  color: #FFFFFF;
  border: none;
  /* left: -105px; */
  /* top: 20px; */
  transition: ease-in-out 1s;
  background: linear-gradient(99.05deg, #20F0BC 1.89%, #D23291 84.67%);
  box-shadow: 0px 1px 21px rgba(32, 240, 188, 0.6);
  border-radius: 10px
}



.activeButton:hover {
  transition: ease-in-out all 12ms;
  background: linear-gradient(99.05deg, #D23291 1.89%, #20F0BC 84.67%);
  box-shadow: 0px 1px 21px rgba(32, 240, 188, 0.8);
  border: 1px solid aqua;
  /* border-radius: 25px; */
  transition: ease-in-out 0.4s;
}



.faam {
  position: relative;
  left: 200px;
}





.sub {

  position: relative;
  width: 195px;
  height: 27px;
  left: 2px;

  /* font-family: 'Source Sans 3'; */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;


  color: #FFFFFF;

}

.fifi {
  /* position: absolute; */
  width: 424px;
  height: 59px;
  /* left: 202px; */
  /* top: 413px; */

  background: #2E2E2E;
  border-radius: 11px;
  border: none;
}




/* ___________box text ___________ */


.rme {
  /* position: absolute; */
  /* width: 195px; */
  height: 21px;
  left: 226px;
  top: 593px;

  /* font-family: 'Source Sans 3'; */
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;

  color: #A4A4A4;
}

.bigB {
  /* position: absolute; */
  width: 424px;
  height: 63px;
  /* left: 202px; */
  /* top: 642px; */

  border: none;
  transition: 0.8s;

  background: linear-gradient(91.26deg, #20F0BC 0%, #D42E90 100%);
  border-radius: 12px;
}

.bigC {

  width: 424px;
  height: 63px;
  border: none;
  transition: 0.8s;
  border: 2px solid aqua;
  background: none;
  /* color: #D42E90; */
  border-radius: 12px;
}

.bigBt {

  /* font-family: 'Source Sans 3'; */
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 36px;
  /* identical to box height */
  /* transition: 0.5s; */
  text-align: center;

  color: #FFFFFF;
}

.bigB:hover {

  background: linear-gradient(99.05deg, #D23291 1.89%, #20F0BC 84.67%);
  box-shadow: 0px 1px 21px rgba(32, 240, 188, 0.41);
  border-radius: 30px
}

.bigC:hover {

  /* background: linear-gradient(99.05deg, #D23291 1.89%, #20F0BC 84.67%); */
  box-shadow: 0px 1px 21px rgba(32, 240, 188, 0.41);
  border-radius: 30px
}


/* _____________________________________________________________________________________________________________________ */

/* Landing */


.lbtn1 {
  width: 140px;
  border: 2px solid #FFFFFF;
  border-radius: 600px;
}







.text1 {
  /* width: 30px; */
  height: 10px;
  /* font-family: 'Source Sans 3'; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;

  color: #FFFFFF;
}

.texty {
  /* font-family: 'Source Sans 3'; */
  font-style: normal;
}



.oopp {
  box-sizing: border-box;

  position: relative;
  width: 322px;
  height: 64px;
  left: 1px;
  top: 3px;
  color: black;
  background: #FFFFFF;
  border-radius: 500px;
}

.texty2 {
  /* font-family: 'Source Sans 3'; */
  /* font-style: normal; */
  /* font-weight: 700;
    font-size: 16px; */
  /* line-height: 34px; */
  /* text-align: center; */

  color: #C83B93;

}








.curvy1 {
  box-sizing: border-box;

  position: relative;
  width: 1520px;
  height: 109px;
  left: 20px;
  top: 501px;

  background: rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(11.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 100px 100px 0px 0px;
}




/* Influencers Register  */
/* page5 */
.smallB {
  width: 7rem;
  height: 63px;
  border: none;
  transition: 0.8s;
  background: rgba(0, 0, 0, 0.599);
  border-radius: 12px;
}

.smallB:hover {
  /* background: linear-gradient(99.05deg, #D23291 1.89%, #20F0BC 84.67%); */
  background: #20F0BC;
  box-shadow: 0px 1px 21px rgba(32, 240, 188, 0.41);
  border-radius: 30px
}

/* .active,
  .smallB::after {
    background: #20F0BC;
    box-shadow: 0px 1px 21px rgba(32, 240, 188, 0.41);
    border-radius: 30px
  } */



.all {
  background-image: url(../Imagez//Common/Content\ Inspiration_My\ Collections\ .Full\ Page.png);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  /* max-height: 110vh; */
  /* background-image: url("./img/bg_paper.jpg"); */
  /* background-size: cover; */
}



/* ___________________________________________________________________________________________ */

/* Agency / Brands / Login / Signup */

.bgSignUp {
  background-image: url(../Imagez/Common/Bg_section3.png);
  /* background-image: url('img_parallax.jpg'); */
  height: 180vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.regUpForm {
  /* background-image: url(../Imagez//Dashboard//All/AguaEffectBg1.png); */
  background-image: url(../Imagez//Dashboard//All/wat/bg-reg1svg.svg);
  /* background-image: url(../Imagez//Dashboard//All/Bg_section2.svg); */
  /* background-image: url(../Imagez//Dashboard//All/Bg_section3.svg); */
  /* background-image: url('img_parallax.jpg'); */
  min-height: 100vh;
  /* padding-bottom: 2rem; */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.SignSignbg {
  /* background-image: url(../Imagez//Dashboard//All/AguaEffectBg1.png); */
  background-image: url(../Imagez/Common/Bg_section3.png);
  /* background-image: url(../Imagez//Dashboard//All/Bg_section2.svg); */
  /* background-image: url(../Imagez//Dashboard//All/Bg_section3.svg); */
  /* background-image: url('img_parallax.jpg'); */
  min-height: 100vh;
  /* padding-bottom: 2rem; */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}


.bgLogIn {
  background-image: url(../Imagez/Common/Bg_section3.png);
  /* background-image: url('img_parallax.jpg'); */
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}


.blub {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}




/* ____________________________ */
/* dash  searchScroll */
/* #searchScroll{} */

::-webkit-scrollbar {
  width: 5px;
}


/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C83B93;
  transition: 1000ms ease-in-out;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: 1000ms ease-in-out;
  background: #20F0BC;
}

/* ___________________________________________  */

.StickSide {
  position: fixed;
  left: 8.2rem;
  top: 12.2rem;
  height: 25rem;
  /* width: 4rem; */
  border-radius: 0 0 14px 14px;
  background: white;

  padding: 0px 0px;
  padding-top: 0rem;
  /* border: 1px solid gray; */
  z-index: 98;
  transition: all 0.5s ease;
}

.StickTop {
  position: fixed;
  left: 8.2rem;
  top: 1.2rem;
  height: 5%;
  width: 20rem;
  border-radius: 14px;
  /* background: black; */

  padding: 0px 0px;
  padding-top: 0rem;
  /* border: 1px solid gray; */
  z-index: 99;
  transition: all 0.5s ease;
}

.chip-checkbox input[type="checkbox"] {
  display: none;
}

.chip-checkbox input[type="checkbox"]+label {
  cursor: pointer;
  width: 12rem;
  height: 2.5rem;
  background-color: whitesmoke;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 26px;
  width: 100%;
  border: 1px solid transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}


.chip-checkbox input[type="checkbox"]:checked+label {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 100%;
  border: 1px solid #20F0BC;
}

.search-tag {
  background: #fff;
  border: 1px solid rgb(200, 59, 147);
  color: rgb(200, 59, 147);
  padding: 4px 20px 6px 11px;
  border-radius: 20px;
  text-align: center;

}

.tags-input {
  display: inline-flex;
  margin: 0 auto;
  padding: 5px;
  /* width: 600px; */
  font-size: 15px;
  border: 1px solid rgb(200, 59, 147);
  color: rgb(200, 59, 147);
  border-radius: 1.9375rem 0 0 1.9375rem !important;
  padding-bottom: 15.5px;
  padding-top: 15.5px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.tags-input .tag {
  margin-right: 5px;
}

.tags-input input {
  /* width: 100%; */
  border: none;
  outline: none;
}

.tag {
  display: inline-flex;
  padding: 2px 5px;
  border: 1px solid;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
}

button.delete {
  display: inline-block;
  margin-left: 5px;
  padding: 0;
  width: 15px;
  height: 15px;
  color: rgb(200, 59, 147);
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  outline: none;
  user-select: none;
}

button.delete:after {
  content: "X";
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
}

.btn-tag {
  background: rgb(200, 59, 147);
  color: white;
  border-radius: 10px;
}

.search-suggetions {
  position: absolute;
  left: 4%;
  top: 100%;
  width: 73%;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
  min-height: 380px;
}

.campaign-wrap {
  background: #FFFFFF;
  padding: 18px;
  border-radius: 10px;
  border: 1px solid #C83B93;
}



.carousel {
  min-height: 300px;
}

.carousel-inner {
  overflow: initial !important;
}

.carousel-indicators {
  background-color: transparent !important;
  border-top: none !important;
  border-bottom: none !important;
}

.carousel-indicators button {
  background: #C4C4C4 !important;
  opacity: 1 !important;
  border-top: none !important;
  border-bottom: none !important;
}

.carousel-indicators .active {
  background: #C83B93 !important;
}


/* 
.active, .smallB::after {
  background: #fff;
  box-shadow: none !important;
  border-radius: 30px;
} */



text .highcharts-credits {
  display: hidden !important
}